%i.fa.fa-chevron-down{'aria-label': 'Expand', 'id': "service-chevron-#{i}"}
%div.service-title
  %h3.name{ id: "service-title-#{i}"}
    = service.name
  - if service.alternate_name.present?
    %span.alternate-name{ id: "service-alt-#{i}" }
      (#{service.alternate_name})
