-#  Renders all the components that are part of the service details card

= render 'component/detail/service_description', service: service
= render 'component/detail/service_wait', service: service
= render 'component/detail/phones', phones: service.phones
= render 'component/detail/service_hours', service: service
= render 'component/detail/service_address_details', service: service
= render 'component/detail/service_fees', service: service
= render 'component/detail/service_audience', service: service
= render 'component/detail/service_eligibility', service: service
= render 'component/detail/service_application_process', service: service
= render 'component/detail/languages', service: service
= render 'component/detail/service_interpretation_services', service: service
= render 'component/detail/service_required_documents', service: service
= render 'component/detail/service_accepted_payments', service: service
= render 'component/detail/service_service_areas', service: service
= render 'component/detail/service_situations', service: service
= render 'component/detail/service_categories', service: service
= render 'component/detail/service_website', service: service
