
%h3 Report for the last 7 days (#{Date.current-7.days} - #{Date.yesterday})


= render 'admin/analytics/search/search_data_overview'
= render 'admin/analytics/search/most_visited_locations'
= render 'admin/analytics/search/most_used_keywords'
= render 'admin/analytics/search/searches_by_rating'

