
%h3 Report for the last 7 days (#{Date.current-7.days} - #{Date.yesterday})


%h4 Search data overview
%table.table
  %tr
    %th Metric
    %th Value
  %tr
    %td Total number of visits
    %td= total_number_of_visits
  %tr
    %td Total number of searches
    %td= total_number_of_searches
  %tr
    %td Average number of searches per visit
    %td= avg_number_searches_per_visit
  %tr
    %td.bottom Total number of visits initiated from homepage
    %td.bottom= number_of_visits_initiated_from_homepage


%h4 Most used search keywords
%table.table
  %tr
    %th Ranking
    %th Keywords
    %th # of times searched
    %th Rating
  - most_used_keywords.each_with_index do |keyword, i|
    - td_class = (i == most_used_keywords.length-1)? "bottom" : ""
    - keyword_term = keyword.first
    - keyword_count = keyword.last
    %tr
      %td{class: td_class} #{i+1}
      - if keyword_term == ''
        %td{class: td_class}
          %em [no keywords]
      - else
        %td{class: td_class} #{keyword_term}
      %td{class: td_class} #{keyword_count}
      %td{class: td_class}
        - rating_and_count = get_average_search_rating(keyword_term)
        %span
          - for i in 1..5 do
            - if i <= rating_and_count[0]
              %i.fa.fa-star
            - else
              %i.fa.fa-star-o
        %span
          (#{rating_and_count[1]})


%h4 Searches by rating
- for l in 5.downto(1) do
  - rating = l
  %div.rating-row
    %span  #{rating}-stars
    - for j in 1..5 do
      - if j <= rating
        %i.fa.fa-star
      - else
        %i.fa.fa-star-o
    = number_of_searches_for_rating(rating)
  - top_keywords_for_rating = searches_for_rating(rating)
  - if top_keywords_for_rating.length > 0
    %div.keywords-for-rating-row.hidden
      %ul
        - top_keywords_for_rating.each do |keyword|
          %li #{keyword.first} (#{keyword.last})


%h4 Most visited locations
%table.table
  %tr
    %th Ranking
    %th{colspan: "2"} Location name
    %th # of visits
  - most_visited_locations.each_with_index do |location, i|
    - location_id = location.first
    %tr.top-locations{tabindex: '0', role: 'button'}
      %td #{i+1}
      %td{colspan: "2"}
        = get_location_name(location_id)
      %td #{location.last}

    - location_visit_origin_events = origin_of_location_visit(location_id)
    %tr.hidden
      %td.bottom
      %td.bottom
        %p From keyword searches: #{views_from_keyword_searches(location_visit_origin_events)}
        = top_keywords_and_count(location_visit_origin_events)
      %td.bottom
        %p From direct links: #{views_from_direct_links(location_visit_origin_events)}
      %td.bottom


:javascript
  $(document).ready(function() {

    $('tr.top-locations').on('click', function(){
      $(this).next().toggleClass('hidden');
    });

    $('.rating-row').on('click', function(){
      nextElemClasses = $(this).next().attr('class').split(" ");
      if (nextElemClasses.includes('keywords-for-rating-row')){
        $(this).next().toggleClass('hidden');
      }
    });

  });
