%h2 Search

%h3 Report for the last 7 days
%p From #{Date.current-7.days} to #{Date.yesterday}


%table.table
  %tr
    %td Most visited locations
    %ul
      = most_visited_locations.each do |location|
        %li #{location.first}: #{location.last}
