- title 'Report an issue'

- content_for :breadcrumbs do
  %span Report an Issue

= alert_tag(flash)

.about
  %main.main
    %div.about-container
      .contact
        %h1 Reporting an issue on #{@resource.name}
        .flag-form
          %section.feedback-form
            %br
            Thank you for sending us feedback about this resource.
            %br
            Please tell us more about the issue you identified.
            = form_for :flag, url: flag_path, html: { id: 'flag-form', role: 'form', class: 'form-container' } do |f|
              = hidden_field(:flag, :resource_type, value: @resource_type)
              = hidden_field(:flag, :resource_id, value: @resource_id)
              = f.fields_for :report_attributes do |rf|
                %br
                - Flag.report_attributes_schema.each do |attribute|
                  %p
                    = render 'component/flags/form_fields', rf: rf, attribute: attribute
              = f.button 'Send!', class: 'button-plain', type:"submit", data: { disable_with: "Sending..." }, aria: { label: "Send" }


:javascript
  $(document).ready(function(){
    // validate form fields before submitting form
    $('#flag-form').on('submit', function() {
      if (!isAnyCheckboxChecked()) {
        showErrorPopUp('Please check one of the feedback boxes before submitting.');
        return false;
      }
    });


    function isAnyCheckboxChecked(){
      return $('.report-input-checkbox.feedback').is(':checked');
    }


    function showErrorPopUp(message){
      const alertDiv = $('<div>', {
        'class': 'sr-only',
        'role': 'alert',
        'aria-live': 'assertive',
        text: message
      });

      $('body').append(alertDiv);
      setTimeout(function() {
        alertDiv.remove();

        alert(message);
      }, 100);
    };

  });
